@use '../abstract' as *;

.password-popup {
  position: absolute;
  flex-direction: column;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  padding: 25px 50px;
  border-radius: 20px;
  color: white;
  background: black;
  width: 380px;
  @media #{$xs} {
    top: 30%;
    width: 90%;
  }
  @media #{$xxs} {
    top: 25%;
    padding: 25px 35px;
  }
  @media #{$passPopup} {
    top: 35%;
    padding: 25px 25px;
  }
  &.top {
    top: 17%;
    @media #{$xs} {
      top: 30%;
    }
    @media #{$xxs} {
      top: 25%;
      padding: 25px 35px;
    }
    @media #{$passPopup} {
      top: 35%;
      padding: 25px 25px;
    }
  }
  &.overTheTop {
    top: -18%;
    padding: 20px 50px;
    @media #{$xs} {
      top: -18%;
    }
    @media #{$xxs} {
      top: 90%;
      padding: 25px 35px;
    }
    @media #{$passPopup} {
      top: 90%;
      padding: 25px 25px;
    }
  }
  &.bottom {
    top: 50%;
    @media #{$xs} {
      top: 60%;
    }
    @media #{$xxs} {
      top: 55%;
    }
    @media #{$passPopup} {
      top: 65%;
    }
  }
  h4 {
    color: white;
    margin: 0;
    @media #{$iphone} {
      font-size: 18px;
    }
    @media #{$xxs} {
      font-size: 18px;
    }
    @media #{$passPopup} {
      font-size: 14px;
    }
  }
  li {
    line-height: 1.4;
    position: relative;
    @media #{$passPopup} {
      font-size: 12px;
    }
    svg {
      position: absolute;
      left: -1.4rem;
      top: 0.1rem;
    }
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    svg {
      margin-right: 1em;
      @media #{$xxs} {
        margin-right: 0.5em;
      }
    }
  }
}
